header {
    background-color: ivory;
    padding: 16px 0;
}

header h1 {
    color: rgb(57, 57, 57);
    font-size: 40px;
    font-weight: 100;
    font-style: bold;
    display: inline-block;
    position: relative;
}