<div class="container">
    <div class="row">
        <div class="col">
            <form action="/controller/login" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario" name="User">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="Password">
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
                {{#if error}}
                <p>Username or password are not correct</p>
                {{/if}}
            </form>
        </div>
    </div>
</div>